#div1{
    font-family: Arial;
    font-size: small;
}
#myH1{
    font-family: Arial;
    font-size: small;
}
#myH2{
    font-family: Arial;
    font-size: small;
}
#note1{
    font-family: Arial;
    font-size: x-small;
}